/* ==========================================================================
   Scaffolding

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

$grid-breakpoints: (
	// Extra small screen / phone
	xs: 0,
	// Small screen / phone
	sm: 34em,
	// Medium screen / tablet
	md: 62.5em,
	// Large screen / desktop
	lg: 78em,
	// Extra large screen / wide desktop
	xl: 85em
);

// Number of columns in the grid.
$grid-columns: 12;

// Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width: 1.5rem;


// Container sizes
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
	sm: 34rem,    // 480
	md: 55rem,    // 720
	lg: 60rem,    // 960
	xl: 72.25rem  // 1140
);
