/* ==========================================================================
   Table of Contents
   ========================================================================== */

/* General
  ========================================================================== */
.toc {
    position: relative;

    display: block;
    height: 3rem;
}



/* Fixed
  ========================================================================== */
.toc--fixed {

   .toc__scroll-container {
       position: fixed;
   }
}



/* Scroll container
  ========================================================================== */
.toc__scroll-container {
   z-index: 1000;
   position: absolute;
   top: 0;
   right: 0;
}



/* Item
  ========================================================================== */
.toc__item {

}

.toc__item--active {

}
