@charset "UTF-8";

/* ==========================================================================
   Style

   This file is exclusively intended for setting up imports
   Never add styles directly to this file
   ========================================================================== */


/* Config
   ========================================================================== */
@import "config/config";


/* Base
   ========================================================================== */
@import "base/base";


/* Typography
   ========================================================================== */
@import "typography/base",
        "typography/bodycopy",
        "typography/headings";


/* Components
   ========================================================================== */
//@import "components/..";
