/* ==========================================================================
   Container
   ========================================================================== */


/* General
   ========================================================================== */
.container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 2em;
}
