/* ==========================================================================
   Main footer
   ========================================================================== */


/* General
   ========================================================================== */
.main-footer {
    margin-top: 8rem;

    color: $grey;
    font-size: .8rem;
}

.main-footer__link {
    color: #7696A3;
    text-decoration: none;
}
