/* ==========================================================================
   Headings - Typography
   ========================================================================== */


/* Shared
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 .8rem;

    font-family: $font-family--headers;
    font-weight: 400;
    line-height: $line-height--headers;

    color: $black;

    + p {
        margin-top: 0;
    }
}


/* Specific
   ========================================================================== */
h1 {
    font-size: 2rem;

    @media (min-width: $screen-md) {
        font-size: 3rem;
    }
}

h2 {
    font-size: 1.5rem;

    @media (min-width: $screen-md) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.1rem;

    @media (min-width: $screen-md) {
        font-size: 1.3rem;
    }
}

h4 {
    font-size: 1rem;

    @media (min-width: $screen-md) {
        font-size: 1.3rem;
    }
}

h5 {
    font-size: 1rem;

    @media (min-width: $screen-md) {
        font-size: 1.1rem;
    }
}

h6 {
    font-size: .9rem;

    @media (min-width: $screen-md) {
        font-size: 1rem;
    }
}
