.styleguide {}

.styleguide__nav {
    padding: 1em .5rem;

    font-size: 0.9rem;

    border-bottom: 2px solid #eee;

    @media (min-width: 60rem) {
        position: fixed;
        top: 0;
        left: 0;

        height: 100%;
        width: 12rem;
        padding: 2em 0;

        border-bottom: 0;
        border-right: 2px solid #eee;
    }
}

.styleguide__nav__item {
    display: inline-block;
    padding: 0 .5rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;

    &:focus, &:hover {
        color: #4285f4;
    }

    @media (min-width: 60rem) {
        display: block;
        padding: 0.1em 1.5em;
    }
}

.styleguide__nav__item--sub {
    display: none;

    @media (min-width: 60rem) {
        display: block;

        padding-left: 2.5em;
        color: #777;
    }
}

.styleguide__content {
    padding: 2em 0;

    @media (min-width: 60rem) {
        padding: 2em 0 2em 12rem;
    }
}

.styleguide__page-title {
    position: relative;
    margin: 0 0 2rem;
    padding: 0 1rem;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;

    &::after {
        content: "";
        display: block;
        width: 4rem;
        height: 6px;
        margin: 0.5rem 0 0;
        background: #4285f4;
    }

    @media (min-width: 60rem) {
        margin: 0 0 4rem;
        padding: 0 2rem;
    }
}

.styleguide__item-section {
    position: relative;

    padding: 3rem 1rem;
    border-top: 1px solid #f5f5f5;

    @media (min-width: 60rem) {
        padding: 4rem 2rem;
    }
}

.styleguide__item-sub-section {
    position: relative;
}

.styleguide__item-title {
    margin: 0 0 2rem;
    font-size: 1.5rem;

    &::after {
        content: "";
        display: block;
        width: 2rem;
        height: 4px;
        margin: 0.3rem 0 0;
        background: #fbbc05;
    }
}

.styleguide__item-title--sub {
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem 0;

    &::after {
        width: 1.5rem;
        height: 2px;
        background: #34a853;
    }
}

.styleguide__item-code {
    margin: 3rem 0 0;
    background: #f5f5f5;

    height: 0;
    overflow: hidden;
}

.styleguide__item-code-toggle {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 1rem;
    height: 1rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    opacity: 0;
    cursor: pointer;

    &:checked {

        & + .styleguide__item-code {
            height: auto;

            & + .styleguide__item-code-toggle-icon {
                fill: #111;
            }
        }
    }

    @media (min-width: 60rem) {
        right: 2rem;
    }
}

.styleguide__item-code-toggle-icon {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 1rem;
    height: 1rem;

    fill: #ccc;
    cursor: pointer;

    @media (min-width: 60rem) {
        right: 2rem;
    }
}


/* http://prismjs.com/download.html?themes=prism&languages=markup+clike+javascript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
    text-shadow: none;
    background: #f5f5f5;
}

code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
    text-shadow: none;
    background: #f5f5f5;
}
@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}
/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f5f5;
}
/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: 0.7;
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
    color: #905;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
    color: #690;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function {
    color: #DD4A68;
}

.token.important,
.token.regex,
.token.variable {
    color: #e90;
}

.token.bold,
.token.important {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
