/* ==========================================================================
   Blocks - Links
   ========================================================================== */

/* General
   ========================================================================== */
a[href]:not([class]) {
    color: $link-color;
    text-decoration: none;

    &:hover, &:focus, &:active {
        text-decoration: none;
        color: $link-color--hover;
    }
}
