/* ==========================================================================
   Scaffolding

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */


/* Grid Breakpoints
   ========================================================================== */
$grid-breakpoints: (
	// Extra small screen / phone
	xs: 0,
	// Small screen / phone
	sm: 544px,
	// Medium screen / tablet
	md: 768px,
	// Large screen / desktop
	lg: 992px,
	// Extra large screen / wide desktop
	xl: 1200px
);



/* Grid Containers
   ========================================================================== */
$container-max-widths: (
	sm: 576px,
	md: 720px,
	lg: 940px,
	xl: 1140px
);



/* Grid Columns
   ========================================================================== */
$grid-columns:               12;
$grid-gutter-width:          1.875rem;



/* Grid Flex
   ========================================================================== */
$enable-flex:               true;
