/* ==========================================================================
   Vertical center
   ========================================================================== */

.v-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}
