$font-family--base: Helvetica, arial, sans-serif;
$font-family--headers: Helvetica, arial, sans-serif;

$text-size--small: .75rem;
$text-size--base: 100%;
$text-size--big: 1.125rem;

$rem-base: 16px;

$line-height--base: 1.6;
$line-height--headers: 1;
