/* ==========================================================================
   Styleguide Theme
   ========================================================================== */

/* Theme Color
   ========================================================================== */
.styleguide__header {
    background: #293039 !important;
    color: #71b2e4 !important;
}

.styleguide__header__head {
    color: #fff !important;
}

.styleguide__header__main-nav__item {
    color: #71b2e4 !important;
}

.styleguide__header__main-nav__item:hover {
    color: #fff !important;
}

.styleguide__header__main-nav__item--active, .styleguide__header__main-nav__item--active:hover {
    color: #fff !important;
}

.toggle-button-styleguide:hover {
    border-color: #d53b13;
    color: #d53b13;
}


/* General
   ========================================================================== */
body {
    background: #fff !important;
}


/* Header
   ========================================================================== */
.styleguide__header {
    overflow: hidden;
}

@media (min-width: 950px) {
    .styleguide__header {
        z-index: 100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.styleguide__header__head {
    margin: 0;
    padding: 0 0 0 1em;

    font-family: arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.styleguide__header__head__logo {
    display: block;
    height: 24px;
    width: auto;
}

@media (min-width: 950px) {
    .styleguide__header__head {
        float: left;
    }

    .styleguide__header__main-nav {
        float: right;
        padding-right: 1.5em;
    }
}

.styleguide__header__main-nav__item {
    position: relative;

    display: inline-block;
    height: 40px;
    padding: 0 1em;

    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;

    -webkit-transition: color .3s ease;
            transition: color .3s ease;
}



/* Main
   ========================================================================== */
@media (min-width: 950px) {
    .styleguide__main {
        padding: 0 20px 0 calc(14vw + 20px);
    }
}



/* Blocks Navigation
   ========================================================================== */
.styleguide__block-navigation {
    z-index: 99;
    position: fixed;
    top: 40px;
    bottom: 0;
    left: 0;
    overflow: auto;

    display: none;
    width: 14vw;
    padding: 1em 0 4em 0;

    background: #EFF4FA;
    border-right: 1px solid #D7E3F2;
}

@media (min-width: 950px) {
    .styleguide__block-navigation {
        display: block;
    }
}

.styleguide__block-navigation__item {
    display: block;
    padding: .5em 1.5em;

    font-size: 14px;
    font-weight: bold;
    color: #71b2e4;
    text-align: right;
    text-decoration: none;

    -webkit-transition: color .3s ease;
            transition: color .3s ease;
}

.styleguide__block-navigation__item:hover {
    color: #293039 !important;
    text-decoration: none;
}



/* Content Container
   ========================================================================== */
.styleguide__content-container {
    max-width: 100%;
    padding: 0 20px;
}

.styleguide__content-container > h1 {
    position: relative !important;

    padding: 130px 0 20px !important;
    margin: 0 -20px 80px -20px !important;

    font-size: 30px !important;
    font-weight: bold !important;
    text-align: center;
    line-height: 1 !important
    background: #fff !important;
    color: #181c21 !important;
}

.styleguide__content-container > h1::after {
    position: absolute;
    bottom: 0;
    left: calc(50% - 10px);
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background: #ffc334;
}

.styleguide__content-container > h1:first-child {
    padding-top: 80px !important;
}



/* Color template
   ========================================================================== */
.styleguide__color-template {
    display: inline-block;
    margin: 0 1.5rem 1.5rem 0;

    text-align: center;
}

.styleguide__color-template__example {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 20px;

    border-radius: 50%;
}

.styleguide__code {
    padding: .2em .4em;
    white-space: nowrap;

    color: #333;
    background-color: #f9f9f9;
    border: 0;
    font-size: 12px;
}


/* Code blocks
   ========================================================================== */
.codeBlock {
    padding: 0 10px;
    margin: 0;
    white-space: nowrap;

    background-color: #f9f9f9;
    border: 1px solid #ccc;
    font-size: .9rem;
}

.toggle-item--styleguide {
    margin: 2rem 0;
}

.exampleContainer {
    position: relative;
}

.toggle-button-styleguide {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: 1px solid #ddd;
    color: #ccc;
    padding: 0 .3em .2em .3em;

    -webkit-transition: all .3s ease;
            transition: all .3s ease;
}
